<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>502 Bad Gateway | WeatherSpot</title>
		
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
		<link rel="icon" th:href="@{/img/weatherSpot1.png}" type="image/png" />
		<link rel="stylesheet" th:href="@{/style/error-style.css}" />
	</head>
	<body>
		<div class="container">
			<nav>
				<a th:href="@{/}" class="brand-link">
					<img th:src="@{/img/weatherSpot1.png}" alt="WeatherSpot Logo" />
					<h1 class="app-name">WeatherSpot</h1>
				</a>
			</nav>
			
			<main class="error-wrapper">
				<div class="error-div">
					<h2>502</h2>
				<h4>Bad Gateway</h4>
				<p>
					We're having trouble connecting to another server. Please
					try again in a little while.
				</p>
					<a class="btn">Go Back</a>
				</div>
			</main>
		</div>
		
		<div class="spinner"></div>
		
		<script>
			const container = document.querySelector(".container");
			const spinner = document.querySelector(".spinner");

			function loadingOn() {
				spinner.style.display = "block";
				container.classList.add("blur-effect");
				document.body.classList.add("disable-pointer-hover");
			}

			function loadingOff() {
				container.classList.remove("blur-effect");
				spinner.style.display = "none";
				document.body.classList.remove("disable-pointer-hover");
			}

			document.querySelector(".btn").addEventListener("click", function () {
				loadingOn();
				history.back();
				setTimeout(() => {
					loadingOff();
				}, 7000);
			});

			window.addEventListener("pageshow", function () {
				loadingOff();
			});
			
			// Initialize state
			loadingOff();
		</script>
	</body>
</html>